html, body, div {
    position: relative;
}

body {
    background-color: white;
    -ms-transition: background-color 1.5s ease;
    -moz-transition: background-color 1.5s ease;
    -webkit-transition: background-color 1.5s ease;
    transition: background-color 1.5s ease;
}

.heading-text-style {
    
    color: white;
}

#quote-container {
    position: static;
    padding: 0 25px 25px;
    margin: 15vh auto;
}

#quote-box {
    border-radius: 10px;
    background-color: ghostwhite;
    padding: 35px;
    box-shadow: 0 0 25px black;
}

#quote {
    font-size: 3rem;
}

#author {
    font-size: 2rem;
    padding-top: 15px;
}

#controls {
    padding-top: 20px;
}

.tweet {
    position: absolute;
    left: 15px;
}

.fa, .glyphicon, #quote, #author {
    -ms-transition: color 1.5s ease;
    -moz-transition: color 1.5s ease;
    -webkit-transition: color 1.5s ease;
    transition: color 1.5s ease;
}

@media (max-width: 768px) {
    #quote-container {
        margin-top: 0;
    }
}