html, body, div {
    position: relative;
}

.heading-text-style {
    text-shadow: black 0 0 3px;
    color: white;
}

.bg-color {
    background-color: #75C9C8;
}

#quote-container {
    position: static;
    padding: 0 25px 25px;
    margin: 15vh auto;
}

#quote-box {
    border-radius: 10px;
    background-color: ghostwhite;
    padding: 35px;
    box-shadow: 0 0 25px black;
}

#quote {
    font-size: 3rem;
}

#author {
    font-size: 2rem;
    padding-top: 15px;
}

#controls {
    padding-top: 20px;
}

.tweet {
    position: absolute;
    left: 15px;
}


@media (max-width: 768px) {
    #quote-container {
        margin-top: 0;
    }
}